.message{
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    justify-content: space-between;
    margin: 15px;
}

.messageContent{
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-right: auto;
}